.container {
  width: 100%;
  text-align: center;
}

.center {
  margin: 5px auto;
  width: fit-content;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

.input-field {
  margin: 10px;
}

.btn-container {
  margin-bottom: 10px;
}

.btn {
  width: 150px;
}
