<div class="container">
<div class="center">
  <form class="example-form" [formGroup]="carForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field class="input-field">
      <mat-label>Car price</mat-label>
      <input matInput type="number" placeholder="Car price" formControlName="carPrice">
      <mat-icon matSuffix>directions_car</mat-icon>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Deposit</mat-label>
      <input matInput type="number" placeholder="Deposit" formControlName="deposit">
      <mat-icon matSuffix>paid</mat-icon>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Interest rate</mat-label>
      <input matInput type="number" placeholder="Interest rate" formControlName="interestRate">
      <mat-icon matSuffix>percent</mat-icon>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Loan length (months)</mat-label>
      <input matInput type="number" placeholder="How many months" formControlName="loanLengthMonths">
      <mat-icon matSuffix>date_range</mat-icon>
    </mat-form-field>
    <mat-form-field class="input-field">
      <mat-label>Monthly payment amount</mat-label>
      <input matInput type="number" placeholder="Monthly payment amount" formControlName="monthlyPaymentAmount">
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>
    <div class="btn-container">
      <button mat-fab color="primary" matTooltip="Calculate loan">
        <mat-icon>cached</mat-icon>
      </button>
    </div>
  </form>
</div>
</div>
